html {
  --background-color: linear-gradient(0deg,
      oklch(43.726% 0.11301 280.038),
      oklch(58.131% 0.08403 346.194));
  ;
  --default-color: rgb(50, 50, 50);
  --black-color: black;

  --back-color: #e12626;
  --front-color: #ff5e00;
  --left-color: #5da8eb;
  --right-color: #33d821;
  --bottom-color: #fff200;
  --top-color: rgb(255, 253, 232);

  --face-filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.3)) drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
}

body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  gap: 2em;
}

div {
  display: flex;
  justify-content: center;
  gap: 1em;
}

label {
  padding: 10px 20px;
  background: #333;
  color: white;
  cursor: pointer;
  user-select: none;
  z-index: 100;
}

scene,
cube,
block,
face {
  display: block;
}

scene {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 50em;
}

cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(45deg);

}

block {
  position: absolute;
  width: 4em;
  height: 4em;
  transform-style: preserve-3d;
}

/* posities van blokjes */
block:nth-child(1) {
  --tx: -2em;
  --ty: -2em;
  --tz: 2em;
}

block:nth-child(2) {
  --tx: 2em;
  --ty: -2em;
  --tz: 2em;
}

block:nth-child(3) {
  --tx: -2em;
  --ty: 2em;
  --tz: 2em;
}

block:nth-child(4) {
  --tx: 2em;
  --ty: 2em;
  --tz: 2em;
}

block:nth-child(5) {
  --tx: -2em;
  --ty: -2em;
  --tz: -2em;
}

block:nth-child(6) {
  --tx: 2em;
  --ty: -2em;
  --tz: -2em;
}

block:nth-child(7) {
  --tx: -2em;
  --ty: 2em;
  --tz: -2em;
}

block:nth-child(8) {
  --tx: 2em;
  --ty: 2em;
  --tz: -2em;
}

/* standaard transform voor alle blokken */
scene block {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg);
}




face {
  position: absolute;
  width: 4em;
  height: 4em;
  border: none;
  background: var(--default-color);
  backface-visibility: hidden;
  box-shadow: inset 0 0 0 2px var(--black-color);

  filter: var(--face-filter);
}

/* faces naar buiten via nth-child binnen block */
block>face:nth-child(1) {
  transform: rotateY(0deg) translateZ(2em);
}

/* front */
block>face:nth-child(2) {
  transform: rotateY(180deg) translateZ(2em);
}

/* back */
block>face:nth-child(3) {
  transform: rotateY(90deg) translateZ(2em);
}

/* right */
block>face:nth-child(4) {
  transform: rotateY(-90deg) translateZ(2em);
}

/* left */
block>face:nth-child(5) {
  transform: rotateX(90deg) translateZ(2em);
}

/* top */
block>face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(2em);
}


/* front (z+) */
block:nth-child(1)>face:nth-child(1),
block:nth-child(2)>face:nth-child(1),
block:nth-child(3)>face:nth-child(1),
block:nth-child(4)>face:nth-child(1) {
  background: var(--front-color);
}

/* back (z-) */
block:nth-child(5)>face:nth-child(2),
block:nth-child(6)>face:nth-child(2),
block:nth-child(7)>face:nth-child(2),
block:nth-child(8)>face:nth-child(2) {
  background: var(--back-color);
}

/* right (x+) */
block:nth-child(2)>face:nth-child(3),
block:nth-child(4)>face:nth-child(3),
block:nth-child(6)>face:nth-child(3),
block:nth-child(8)>face:nth-child(3) {
  background: var(--right-color);
}

/* left (x-) */
block:nth-child(1)>face:nth-child(4),
block:nth-child(3)>face:nth-child(4),
block:nth-child(5)>face:nth-child(4),
block:nth-child(7)>face:nth-child(4) {
  background: var(--left-color);
}

/* top (y-) */
block:nth-child(1)>face:nth-child(5),
block:nth-child(2)>face:nth-child(5),
block:nth-child(5)>face:nth-child(5),
block:nth-child(6)>face:nth-child(5) {
  background: var(--top-color);
}

/* bottom (y+) */
block:nth-child(3)>face:nth-child(6),
block:nth-child(4)>face:nth-child(6),
block:nth-child(7)>face:nth-child(6),
block:nth-child(8)>face:nth-child(6) {
  background: var(--bottom-color);
}













/* --- F0° T0° --- */
div:nth-of-type(1):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(1):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(1):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(1):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(4),
div:nth-of-type(1):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(1):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
  transition: transform .5s;
}

/* --- F0° T90° --- */
div:nth-of-type(1):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(1):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(1):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(1):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tz)) translateY(var(--ty)) translateZ(calc(-1*var(--tx))) rotateZ(0deg) rotateY(90deg);
  transition: transform .5s;
}
div:nth-of-type(1):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(1):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
  transition: transform .5s;
}


/* --- F0° T180° --- */
div:nth-of-type(1):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(1):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(1):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(1):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(calc(-1*var(--tx))) translateY(var(--ty)) translateZ(calc(-1*var(--tz))) rotateZ(0deg) rotateY(180deg);
  transition: transform .5s;
}
div:nth-of-type(1):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(1):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
  transition: transform .5s;
}


/* --- F0° T270° --- */
div:nth-of-type(1):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(1):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(1):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(1):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(calc(-1*var(--tz))) translateY(var(--ty)) translateZ(var(--tx)) rotateZ(0deg) rotateY(270deg);
  transition: transform .5s;
}
div:nth-of-type(1):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(1):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
  transition: transform .5s;
}


/* --- F0° T360° --- */
div:nth-of-type(1):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(1):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(1):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(1):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(360deg);
  transition: transform .5s;
}
div:nth-of-type(1):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(1):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
  transition: transform .5s;
}

/* --- F90° T0° --- */
div:nth-of-type(2):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(2):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(2):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(2):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(var(--tz)) rotateZ(90deg) rotateY(0deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(2):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
  transition: transform .5s;
}


/* --- F90° T90° --- */
div:nth-of-type(2):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(1) {
  transform: translateX(calc(-1 * var(--ty))) translateY(calc(-1 * var(--tx))) translateZ(var(--tz)) rotateZ(90deg) rotateY(90deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(5) {
  transform: translateX(calc(-1*var(--tx))) translateY(var(--ty)) translateZ(calc(-1*var(--tx))) rotateZ(90deg) rotateY(90deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(2):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(var(--tz)) rotateZ(90deg) rotateY(0deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(2):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tz)) translateY(var(--ty)) translateZ(calc(-1*var(--tx))) rotateZ(0deg) rotateY(90deg);
  transition: transform .5s;
}


/* --- F90° T180° --- */
div:nth-of-type(2):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(2){
  transform: translateX(calc(-1*var(--tx))) translateY(var(--ty)) translateZ(calc(-1*var(--tz))) rotateZ(0deg) rotateY(180deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(calc(-1*var(--tz))) rotateZ(90deg) rotateY(180deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(1) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(calc(-1*var(--tz))) rotateZ(0deg) rotateY(180deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(2):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(var(--tz)) rotateZ(90deg) rotateY(0deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(5) {
  transform: translateX(calc(-1*var(--tx))) translateY(calc(-1*var(--tx))) translateZ(calc(-1*var(--tx))) rotateZ(90deg) rotateY(180deg);
  transition: transform .5s;
}


/* --- F90° T270° --- */
/* Stilstaande blokken: 2 en 6 (positie F0-T270) */
div:nth-of-type(2):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(2){
  transform: translateX(var(--tz)) translateY(calc(-1*var(--tx))) translateZ(var(--tx)) rotateZ(90deg) rotateY(270deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(calc(-1*var(--tz))) rotateZ(90deg) rotateY(270deg);
  transition: transform .5s;
}
/* Bewegende blokken: 1,3,4,5 */
div:nth-of-type(2):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(2):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(5) {
    transform: translateX(calc(-1*var(--tz))) translateY(var(--ty)) translateZ(var(--tx)) rotateZ(0deg) rotateY(270deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(2):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(var(--tz)) rotateZ(90deg) rotateY(0deg);
  transition: transform .5s;
}

/* --- F90° T360° --- */
/* Exact hetzelfde als F90° T0°, alleen Y-rotatie op 360° */
div:nth-of-type(2):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(2):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(2):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(2):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(var(--tz)) rotateZ(90deg) rotateY(0deg);
  transition: transform .5s;
}
div:nth-of-type(2):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(2):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
}


/* --- F180° T0° --- */
div:nth-of-type(3):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(3):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(3):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(3):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1 * var(--tx))) translateY(calc(-1 * var(--ty))) translateZ(var(--tz)) rotateZ(180deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(3):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
  transition: transform .5s;
}


/* --- F180° T90° --- */
div:nth-of-type(3):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(1) {
  transform: translateX(var(--ty)) translateY(calc(-1 * var(--tx))) translateZ(var(--tz)) rotateZ(270deg) rotateY(90deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(3) {
  transform: translateX(calc(-1 * var(--tx))) translateY(calc(-1 * var(--ty))) translateZ(var(--tz)) rotateZ(180deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1*var(--ty))) translateY(calc(-1*var(--tx))) translateZ(var(--tz)) rotateZ(180deg) rotateY(0deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(5) {
  transform: translateX(calc(-1*var(--tx))) translateY(calc(-1*var(--tx))) translateZ(calc(-1*var(--tx))) rotateZ(180deg) rotateY(90deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(3):has(label:nth-of-type(2) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tz)) translateY(var(--ty)) translateZ(calc(-1*var(--tx))) rotateZ(0deg) rotateY(90deg);
  transition: transform .5s;
}


/* --- F180° T180° --- */
div:nth-of-type(3):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(2){
  transform: translateX(calc(-1*var(--tx))) translateY(var(--ty)) translateZ(calc(-1*var(--tz))) rotateZ(0deg) rotateY(180deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(1) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(calc(-1*var(--tz))) rotateZ(0deg) rotateY(180deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(3):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1 * var(--tx))) translateY(calc(-1 * var(--ty))) translateZ(var(--tz)) rotateZ(180deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(5) {
  transform: translateX(var(--tz)) translateY(calc(-1 * var(--ty))) translateZ(calc(-1*var(--tx)))rotateZ(180deg) rotateY(180deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(3) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(calc(-1*var(--tz))) rotateZ(180deg) rotateY(180deg);
  transition: transform .5s;
}


/* --- F180° T270° --- */
/* Stilstaande blokken: 2 en 6 (positie F0-T270) */
div:nth-of-type(3):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(2){
  transform: translateX(var(--tz)) translateY(calc(-1*var(--tx))) translateZ(var(--tx)) rotateZ(180deg) rotateY(270deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(calc(-1*var(--ty))) translateY(var(--tx)) translateZ(calc(-1*var(--tz))) rotateZ(180deg) rotateY(270deg);
  transition: transform .5s;
}
/* Bewegende blokken: 1,3,4,5 */
div:nth-of-type(3):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(3):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(5) {
  transform: translateX(calc(-1*var(--tz))) translateY(var(--ty)) translateZ(var(--tx)) rotateZ(0deg) rotateY(270deg);
  transition: transform .5s;
}
div:nth-of-type(3):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(3):has(label:nth-of-type(4) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1 * var(--tx))) translateY(calc(-1 * var(--ty))) translateZ(var(--tz)) rotateZ(180deg);
  transition: transform .5s;
}


/* --- F180° T360° --- */
/* Exact hetzelfde als F180° T0°, alleen Y-rotatie op 360° */
/* Bewegende blokken: 1,2,3,4 */
div:nth-of-type(3):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(3):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(3):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(3):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(calc(-1*var(--tx))) translateY(calc(-1*var(--ty))) translateZ(var(--tz)) rotateZ(180deg) rotateY(360deg);
  transition: transform .5s;
}
/* Stilstaande blokken: 5 en 6 */
div:nth-of-type(3):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(5),
div:nth-of-type(3):has(label:nth-of-type(5) input:checked) ~ scene block:nth-child(6) {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(0deg) rotateY(0deg);
  transition: transform .5s;
}





/* --- F270° T0° --- */
div:nth-of-type(4):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(4):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(4):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(4):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(4) {
  transform: translateX(var(--ty)) translateY(calc(-1 * var(--tx))) translateZ(var(--tz)) rotateZ(270deg);
  transition: transform .5s;
}

/* --- F360° T0° --- */
div:nth-of-type(5):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(1),
div:nth-of-type(5):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(2),
div:nth-of-type(5):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(3),
div:nth-of-type(5):has(label:nth-of-type(1) input:checked) ~ scene block:nth-child(4)  {
  transform: translateX(var(--tx)) translateY(var(--ty)) translateZ(var(--tz)) rotateZ(360deg);
  transition: transform .5s;
}








/* Alle code voor de blokjes bovenin */
scene:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  perspective: 50em;
  transform-style: preserve-3d;

  cube {
    width: 4em;
    height: 4em;
    transform-style: preserve-3d;
    animation: floatAndDrift 12s ease-in-out infinite alternate;

  }

  cube:nth-of-type(1) {
    animation-delay: -0s;

    block>face {
      background: var(--front-color);
    }
  }

  cube:nth-of-type(2) {
    animation-delay: -0.5s;

    block>face {
      background: var(--back-color);
    }
  }

  cube:nth-of-type(3) {
    animation-delay: -1s;

    block>face {
      background: var(--left-color);
    }
  }

  cube:nth-of-type(4) {
    animation-delay: -1.5s;

    block>face {
      background: var(--right-color);
    }
  }

  cube:nth-of-type(5) {
    animation-delay: -2s;

    block>face {
      background: var(--top-color);
    }
  }

  cube:nth-of-type(6) {
    animation-delay: -2.5s;

    block>face {
      background: var(--bottom-color);
    }
  }

  block>face {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    backface-visibility: hidden;

  }
}

/* Rotates cube on X and Y axes */
@keyframes floatAndDrift {
  0% {
    transform: rotateX(0deg) rotateY(0deg) translateY(0px) translateX(0px);
  }

  25% {
    transform: rotateX(3deg) rotateY(15deg) translateY(-2px) translateX(1px);
  }

  50% {
    transform: rotateX(0deg) rotateY(0deg) translateY(0px) translateX(-1px);
  }

  75% {
    transform: rotateX(-3deg) rotateY(-15deg) translateY(2px) translateX(0.5px);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg) translateY(0px) translateX(0px);
  }
}