html {
  --background-color: #111;

  --red-color: #d50000;
  --orange-color: #ff6d00;
  --blue-color: #2962ff;
  --green-color: #00c853;
  --yellow-color: #ffd600;
  --white-color: white;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
}

scene, cube, block {
  display: block;
}

scene {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

cube {
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  /* geen animatie nu */
}

block {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #222;
  transform-style: preserve-3d;

  transform:
    translateX(calc(var(--x) * 50px))
    translateY(calc(var(--y) * 50px))
    translateZ(calc(var(--z) * 50px));
}

/* kleuren op buitenste blokjes */
block[style*="--z:-1"] { background: var(--red-color); }
block[style*="--z:1"]  { background: var(--orange-color); }
block[style*="--x:1"]  { background: var(--green-color); }
block[style*="--x:-1"] { background: var(--blue-color); }
block[style*="--y:-1"] { background: var(--white-color); }
block[style*="--y:1"]  { background: var(--yellow-color); }